@using BootstrapSupport

<!DOCTYPE html>
<html lang="pt-br" ng-app="strap">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="iso-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="O Tigra é uma aplicação CASE com foco nos processos de gestão de requisitos e gestão de configuração.">
		<meta name="author" content="Filipe Moreira de Oliveira, Jéssica de Morais Oliveira Lopes">
		<link rel="shortcut icon" href="ico/favicon.png">
		
		<title>@(ViewBag.Title != null && ViewBag.Title.Length != 0 ? String.Format("{0} | ", ViewBag.Title) : "") Tigra</title>

		<!-- Bootstrap core CSS -->
		<link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet">
		<link href="@Url.Content("~/Content/bootstrap/bootstrap-theme.min.css")" rel="stylesheet">
		<link href="@Url.Content("~/Content/bootstrap/jumbotron.css")" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="@Url.Content("~/Scripts/html5shiv.js")"></script>
		<script src="@Url.Content("~/Scripts/respond.min.js")"></script>
		<![endif]-->

		@RenderSection("head", required: false)
	</head>
	<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Tigra</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" accesskey="C" data-toggle="dropdown"><b class="glyphicon glyphicon-book"></b> &nbsp; Células <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Células</li>
							<li><a href="#">Office</a></li>
							<li><a href="#">Skype</a></li>
							<li><a href="#">Windows</a></li>
						</ul>
					</li>
					<li class="active"><a href="#"><b class="glyphicon glyphicon-home"></b> &nbsp; Início</a></li>
					<li><a href="#about"><b class="glyphicon glyphicon-asterisk"></b> &nbsp; Elicitação</a></li>
					<li><a href="#contact"><b class="glyphicon glyphicon-file"></b> &nbsp; Documentação</a></li>
					<li><a href="#contact"><b class="glyphicon glyphicon-check"></b> &nbsp; Revisão</a></li>
					<li><a href="#contact"><b class="glyphicon glyphicon-signal"></b> &nbsp; Baseline</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" accesskey="U" data-toggle="dropdown"><b class="glyphicon glyphicon-question-sign"></b> &nbsp; Ajuda <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Introdução</a></li>
							<li><a href="#">Documentação</a></li>
							<li><a href="#">Perguntas frequentes</a></li>
						</ul>
					</li>
				</ul>
				@Html.Partial("_login")
			</div>
		</div>
	</div>

	@if (true == IsSectionDefined("Jumbotron"))
	{
		@RenderSection("Jumbotron", required: false);
	}

	<div class="container">
		@if (false == IsSectionDefined("Jumbotron"))
		{
			<div class="page-header">
				<h1>@ViewBag.Title</h1>
			</div>
		}

		@Html.Partial("_alerts")
		@Html.Partial("_validationSummary")

		@RenderBody()
		<hr>

		<footer>
			<p>&copy; Tigra @DateTime.Now.ToString("yyyy")</p>
		</footer>
	</div>

	@Html.Partial("_profile")

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
	<script src="@Url.Content("~/Scripts/jquery-migrate-1.1.1.min.js")"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate-unobstrusive.min.js")"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive-custom-for-bootstrap.js")"></script>
	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
	<script src="@Url.Content("~/Scripts/angular.min.js")"></script>
	<script src="@Url.Content("~/Scripts/angular-strap.min.js")"></script>
	<script src="@Url.Content("~/Scripts/holder.js")"></script>
	<script src="@Url.Content("~/Scripts/tigra.login.js")"></script>
	<script src="@Url.Content("~/Scripts/tigra.profile.js")"></script>
	@RenderSection("Scripts", required: false)

	</body>
</html>
