@using BootstrapSupport
@using Tigra.Database
@using Tigra.Areas.Admin.Models

@{
	string pageTitle = Html.CurrentCell();

	if (pageTitle.Length != 0) {
		pageTitle += " | ";
	}

	if (ViewBag.Title != null && ViewBag.Title.Length != 0) {
		pageTitle = String.Format("{0} | {1}", ViewBag.Title, pageTitle);
	}

	pageTitle += "Tigra";
}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="iso-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="O Tigra é uma aplicação CASE com foco nos processos de gestão de requisitos e gestão de configuração.">
		<meta name="author" content="Filipe Moreira de Oliveira, Jéssica de Morais Oliveira Lopes">
		<link rel="shortcut icon" href="ico/favicon.png">
		
		<title>@Html.Raw(pageTitle)</title>

		<!-- Bootstrap core CSS -->
		<link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet">
        @Html.ApplyUserTheme()
		<link href="@Url.Content("~/Content/bootstrap/jumbotron.css")" rel="stylesheet">
		<link href="@Url.Content("~/Content/bootstrap/datepicker.css")" rel="stylesheet">
		<link href="@Url.Content("~/Content/tigra.css")" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="@Url.Content("~/Scripts/html5shiv.js")"></script>
		<script src="@Url.Content("~/Scripts/respond.min.js")"></script>
		<![endif]-->

		@RenderSection("head", required: false)
	</head>
	<body data-api="@Url.Content("~/Api/")">

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a href="@Url.Content("~/")" class="navbar-brand">Tigra</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="./" class="dropdown-toggle" accesskey="C" data-toggle="dropdown"><b class="glyphicon glyphicon-book"></b> &nbsp; @Html.CurrentCell("Células") <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Células</li>
							@foreach (Cell model in CellModel.GetCellTags())
							{
								@Html.ChangeCellLink(model.Tag, model.CellName)
							}
						</ul>
					</li>
					@Html.MenuLink("Home", "Index", "Início", "home")
					@Html.MenuLink("Stories", "Index", "Histórias", "asterisk")
					@Html.MenuLink("Requirements", "Index", "Requisitos", "file")
					@Html.MenuLink("Revision", "Index", "Revisão", "check")
					@Html.MenuLink("Baseline", "Index", "Baseline", "signal")
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" accesskey="U" data-toggle="dropdown"><b class="glyphicon glyphicon-question-sign"></b> &nbsp; Ajuda <b class="caret"></b></a>
						<ul class="dropdown-menu">
							@Html.MenuLink("Help", "Introduction", "Introdução")
							@Html.MenuLink("Help", "Documentation", "Documentação")
							@Html.MenuLink("Help", "Faq", "Perguntas frequentes")
						</ul>
					</li>
				</ul>
				@Html.Partial("_login")
			</div>
		</div>
	</div>

	@if (true == IsSectionDefined("Jumbotron"))
 {
		@RenderSection("Jumbotron", required: false);
 }

	<div class="container">
		@if (false == IsSectionDefined("Jumbotron"))
  {
			<div class="page-header">
				@if (ViewContext.RouteData.Values["title"] != null && ViewContext.RouteData.Values["title"].ToString().Length != 0)
				{
					<h1>@ViewContext.RouteData.Values["title"].ToString()</h1>
                    <p>@Html.GetControllerDescription()</p>
				}
				else
				{
                    if (@Html.GetControllerDisplayName()!=null)
                    {
                        <h1>@Html.GetControllerDisplayName()</h1>
                    }
                    else
                    {
                        <h1>@ViewBag.Title</h1>
                    }
                    
                    if (@Html.GetControllerDescription() != null)
                    {
                        <h1>@Html.GetControllerDescription()</h1>
                    }
				}
			</div>
	  
			@Html.MakeBreadcrumb()
  }

		@Html.Partial("_alerts")
		@Html.Partial("_validationSummary")

		@RenderBody()
		<hr>

		<footer>
            <p>Tigra&copy; @DateTime.Now.ToString("yyyy") - Versão @Html.VersionNumber() - Build @Html.BuildNumber()</p>
		</footer>
	</div>

	<div id="loading"></div>
	<div id="modal"></div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
	<script src="@Url.Content("~/Scripts/jquery-migrate-1.1.1.min.js")"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate-unobstrusive.min.js")"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive-custom-for-bootstrap.js")"></script>
	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
	<script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
	<script src="@Url.Content("~/Scripts/bootstrap-datepicker.pt-BR.js")"></script>
	<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
	<script src="@Url.Content("~/Scripts/holder.js")"></script>
	<script src="@Url.Content("~/Scripts/tigra.login.js")"></script>
	<script src="@Url.Content("~/Scripts/tigra.modal.js")"></script>
	<script src="@Url.Content("~/Scripts/tigra.clamp.js")"></script>
	@RenderSection("Scripts", required: false)

	</body>
</html>
