@using BootstrapSupport
@model System.Collections.IEnumerable

@{
    ViewBag.Title = @Model.GetLabel();
}

<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            @foreach (var property in Model.VisibleProperties())
            {
                <th>
                    @property.GetLabel()
                </th>
            }
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var model in Model)
    {
        ViewData[index.ToString()] = model;
        <tr>
            @foreach (var property in model.VisibleProperties())
            {
                <td>
                    @Html.Display(index + "." + property.Name)
                </td>                    
            }
            <td>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                        Ação
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @Html.TryPartial("_actions", model)                            
                            var routevalues = model.GetIdValue();  
                            <li>@Html.ActionLink("Editar", "Edit", routevalues)</li>
                            <li>@Html.ActionLink("Detalhes", "Details", routevalues)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Excluir", "Delete", routevalues)</li>
                        }
                    </ul>
                </div>

            </td>
        </tr>
            index++;
    }

</table>
<p>
    @Html.ActionButton("Criar novo", "primary", "Create")
</p>

