@using BootstrapSupport
@model Object

@Html.Partial("ObjectDetails", Model)
<div>
    @Html.RouteLink("Retornar à listagem", "Menu", null, new { @class = "btn btn-lg btn-default" })
    @{
        var routevalues = new { @tag = Model.GetId() };
        var requisito = (Tigra.Models.RequirementsDetailsModel)Model;

        if (requisito.Published == false)
        {
            <div class="btn-group">
                @Html.ActionLink("Editar", "Edit", routevalues, new { @class = "btn btn-lg btn-default" })
                <a class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" href="@Request.Url.LocalPath">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Editar", "Edit", routevalues)</li>
                    <li>@Html.ActionLink("Histórico", "History", routevalues)</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Excluir", "Delete", routevalues)</li>
                </ul>
            </div>
            @Html.ActionLink("Publicar Requisito", "Publish", routevalues, new { @class = "btn btn-lg btn-primary" })
        }
        else
        {
            if (requisito.Rated == false)
            {
                if (Tigra.Database.Authentication.IsLoggedUserManager())
                {
                    @Html.ActionLink("Avaliar Requisito", "Details", "Revision", routevalues, new { @class = "btn btn-lg btn-primary" })
                }
                else
                {
                    <a class="btn btn-lg btn-info">Aguardando avaliação...</a>
                }
            }
            else if (requisito.Implemented == false)
            {
                <div class="btn-group">
                    <a class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" href="@Request.Url.LocalPath">
                        Finalizar Requisito <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Requisito implementado", "MarkAsDone", routevalues)</li>
                        <li>@Html.ActionLink("Cancelar implementação", "CancelAndArchive", routevalues, new { @data_tigra = "modal" })</li>
                    </ul>
                </div>
            }
            else
            {
                <a class="btn btn-lg btn-primary" href="#" onclick="return false;"><span class="glyphicon glyphicon-lock"></span> Requisito Finalizado</a>
            }
        }
        <span></span>
        @Html.ActionLink("Matriz de Rastreabilidade", "TraceabilityMatrix", routevalues, new { @class = "btn btn-lg btn-primary", @data_tigra = "modal" })
}
</div>
