@using BootstrapSupport
@model Tigra.Areas.Admin.Models.TeamManageModel

@{
    ViewBag.Title = @Model.CellName;
}


<table id="TeamManage" class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            <th>Membro</th>
            <th>Papel</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var m in Model.Members)
    {
        <tr id="user_@m.Id">
            <td data-field="name">@m.DisplayName</td>
            <td data-field="role">@m.RoleName</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="./">
                        Ação
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="./">Alterar papel</a>
                                <ul class="dropdown-menu">
                                    @foreach (var role in Model.Roles)
                                    {
                                        <li class="@(m.RoleId == role.Id ? "active" : null)">@Html.ActionLink(@role.RoleName, "ChangeRole", null, new { @data_roleid = @role.Id, @data_rolename = @role.RoleName })</li>
                                    }
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Remover membro", "Delete")</li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
    }
    <tr id="newuser" style="display:none">
        <td data-field="name">
            @Html.EditorFor(m => m.NewMember)
        </td>
        <td data-field="role">
            @Html.EditorFor(m => m.NewRole)
        </td>
        <td>
            <button class="btn btn-primary" data-action="Add">Adicionar</button>
            <button class="btn btn-default" data-action="Cancel">Cancelar</button>
        </td>
    </tr>

</table>
<p id="footer-button-bar">
    <a href="./Add" data-action="AddTeamMember" class="btn btn-primary btn-lg">Adicionar</a>
    @Html.CancelButton("Voltar")
</p>

@section Scripts {
<script type="text/javascript">
    $().ready(function () {
        $("tr[id^='user_'] .dropdown-menu a").click(function () {
            $(this).dropdown('toggle');

            var $tr = $(this);
            while ($tr.get(0).tagName != 'TR') {
                $tr = $tr.parent();
            }

            var re = new RegExp(".*\/Teams\/([a-zA-Z]+)\/*$");
            var match = re.exec($(this).attr('href'));
            
            if (match != null) {
                var action = match[1].toUpperCase();

                //switch (action) {
                //    case "CHANGEROLE":
                //        var $newid = $(this).data('roleid');
                //        var $newname = $(this).data('rolename');
                //        var $role = $tr.find('td[data-field=role]');
                //        var $curid = $role.data('curid');

                //        if ($newid != $curid) {
                //            var $curobj = $role.find('span');

                //            if ($curobj != null) {
                //                $curobj.replaceWith('<del>' + $curobj.html() + '</del>');
                //                $role.find('ins').remove();
                //                $role.find('del').after('<ins>' + $newname + '</ins>');
                //            }
                //        }
                //        else {
                //            var $curobj = $role.find('del');

                //            if ($curobj != null) {
                //                $role.find('ins').remove();
                //                $curobj.replaceWith('<span>' + $curobj.html() + '</span>');
                //            }
                //        }

                //        $tr.find('ul.dropdown-menu li.active').removeClass('active');
                //        $(this).parent().addClass('active');

                //        break;

                //    case "DELETE":
                //        var $name = $tr.find('td[data-field=name]');
                //        var $nmobj = $name.find('del');
                //        if ($nmobj.length == 0) {
                //            $name.html('<del>' + $name.html() + '</del>');
                //        }

                //        var $role = $tr.find('td[data-field=role]');

                //        var $curobj = $role.find('span');
                //        if ($curobj != null) {
                //            $curobj.replaceWith('<del>' + $curobj.html() + '</del>');
                //        }

                //        $(this).attr('href', $(this).attr('href').replace('Delete', 'Restore'));
                //        $(this).html('Restaurar membro');
                //        break;

                //    case "RESTORE":
                //        var $name = $tr.find('td[data-field=name]');
                //        var $nmobj = $name.find('del');
                //        if ($nmobj.length != 0) {
                //            $name.html($nmobj.html());
                //        }

                //        var $role = $tr.find('td[data-field=role]');

                //        var $curobj = $role.find('del');
                //        if ($curobj != null) {
                //            $curobj.replaceWith('<span>' + $curobj.html() + '</span>');
                //        }

                //        $(this).attr('href', $(this).attr('href').replace('Restore', 'Delete'));
                //        $(this).html('Remover membro');
                //        break;
                //}
            }

            return false;
        });

        $('a[data-action="AddTeamMember"]').click(function () {
            $('tr#newuser').show();
            $('p#footer-button-bar').hide();
            return false;
        });

        $('tr#newuser button[data-action="Add"]').click(function () {
            var $data = JSON.stringify({
                "UserId": $('select#NewMember').val(),
                "CellId": "@Model.Id",
                "RoleId": $('select#NewRole').val()
            });

            $.ajax({
                url: $('body').data('api') + 'TeamManage',
                type: 'POST',
                dataType: 'json',
                data: $data,
                contentType: 'application/json; charset=utf-8',
                complete: function (x, y, z) {
                    switch (x.status) {
                        case 200:
                            // swap role name
                            $('tr#user_' + $('select#NewMember').val() + ' td[data-field="role"]').html($('select#NewRole option:selected').text());
                            break;

                        case 201:
                            location.reload();
                            break;

                        case 500:
                            alert('Erro no servidor!');
                            break;

                        default:
                            alert('Erro inesperado (código ' + x.status + ')!');
                            break;
                    }
                }
            });
        });

        $('tr#newuser button[data-action="Cancel"]').click(function () {
            $('tr#newuser').hide();
            $('p#footer-button-bar').show();
        });
    });
</script>
}