@model Tigra.Models.HomeModel

@{
	ViewBag.Title = "Início";
}

@section Jumbotron {
	<div class="jumbotron">
		<div class="container">
			<h1>@Html.Raw(Model.CellName)</h1>
			<p>@Html.Raw(Model.Description)</p>
			<p><a class="btn btn-primary btn-lg">Introdução &raquo;</a></p>
		</div>
	</div>
}

<div class="row">
	@foreach (var i in Model.Lists) {
		<div class="col-lg-4">
			<h2>@Html.Raw(i.Title)</h2>
			<div class="list-group">
				@foreach (var j in i.Items) {
					<a href="@Url.Action("Details", i.Controller, new { @id = j.Id })" class="list-group-item">
						<p class="list-group-item-heading"><strong>@Html.Raw(j.Title)</strong></p>
						<p class="list-group-item-text word-clamp" data-word-clamp="15">@Html.Raw(j.Description)</p>
					</a>
				}
			</div>
			<p><a class="btn btn-lg btn-default" href="#">Listar todos &raquo;</a></p>
		</div>
	}
</div>
