@model Tigra.Models.HomeModel

@{
	ViewBag.Title = "Início";
}

@section Jumbotron {
	<div class="jumbotron">
		<div class="container">
			<h1>@Html.Raw(Model.CellName)</h1>
			<p>@Html.Raw(Model.Description)</p>
			<p><a class="btn btn-primary btn-lg">Introdução &raquo;</a></p>
		</div>
	</div>
}

<div class="row">
	<div class="col-lg-4">
		<h2>Elicitação</h2>
		<div class="list-group">
			@for(int i = 0; i < 3; i++) {
					<a href="#" class="list-group-item">
						<p class="list-group-item-heading"><strong>Item @Html.Raw(i + 1)</strong></p>
						<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
					</a>
			}
		</div>
		<p><a class="btn btn-lg btn-default" href="#">Listar todos &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2>Documentação</h2>
		<div class="list-group">
			@for(int i = 0; i < 3; i++) {
					<a href="#" class="list-group-item">
						<p class="list-group-item-heading"><strong>Item @Html.Raw(i + 1)</strong></p>
						<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
					</a>
			}
		</div>
		<p><a class="btn btn-lg btn-default" href="#">Listar todos &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2>Revisão</h2>
		<div class="list-group">
			@for(int i = 0; i < 3; i++) {
					<a href="#" class="list-group-item">
						<p class="list-group-item-heading"><strong>Item @Html.Raw(i + 1)</strong></p>
						<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
					</a>
			}
		</div>
		<p><a class="btn btn-lg btn-default" href="#">Listar todos &raquo;</a></p>
	</div>
</div>
