@using BootstrapSupport
@model Object

<dl class="dl-horizontal">
    @foreach(var property in Model.VisibleProperties())
    {
        <dt>
            @(property.GetLabel() + ":")
        </dt>
        <dd>
            @Html.Display(property.Name)                
        </dd>
    }
</dl>
<p>
    @Html.ActionLink("Retornar à listagem", "Index", null, new { @class = "btn btn-lg btn-default" })
    @Html.ActionLink("Editar", "Edit", new { @id = Model.GetId() }, new { @class = "btn btn-lg btn-default" })
    @Html.ActionLink("Documentar", "Document", new { @id = Model.GetId() }, new { @class = "btn btn-lg btn-primary" })
    @Html.ActionLink("Excluir", "Delete", new { @id = Model.GetId() }, new { @class = "btn btn-lg btn-danger" })
</p>
